<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tangonoches.student">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name_build"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.MainActivity"></activity>
        <activity android:name=".presentation.allLessons.AllLessonsActivity"></activity>
        <activity android:name=".presentation.allEvents.AllEventsActivity"></activity>
        <activity android:name=".presentation.pointsInfo.PointsInfoActivity"></activity>
        <activity android:name=".presentation.login.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.loginScan.LoginScanActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>